:root {
    --canvas-width: 720px;
    --canvas-height: 480px;
}


* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
}

canvas {
    width: var(--canvas-width);
    height: var(--canvas-height);
    background-color: black;
}