:root {
    --canvas-width: 720px;
    --canvas-height: 480px;
}


* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    background-image: url('../assets/3. Background/SharkieBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
}

canvas {
/*     width: var(--canvas-width);
    height: var(--canvas-height);
 */    background-color: black;
}